# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
staticfiles/
media/

# Environment
.env
venv/
.venv/

# Vercel
.vercel/

# Sauvegarde/migration de base
nebula.sql
nebula_raw.sql

# IDE
.idea/
.vscode/